html,body{

    margin: 0;
    padding: 0;

    .box{
    	width: 220px;
    	height: 120px;
    	background: url('./images/1.png');
    	background-size: cover;
    }
}



li{
    font-size: 30px;
}


